<h1>All Songs</h1>
<%= search_form_for @q do |f| %>
      <p>
        <%= f.label 'search' %>
        <%= f.text_field :name_cont %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>
<table>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th>User</th>
    <th></th>
    <th></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= link_to song.name, song %></td>
    <td><%= song.genre %></td>
    <td><%= song.user.name %></td>
    <td>
      <% if can? :manage, @song %>
      <%= link_to 'Edit', edit_song_path(song) %>
      <% end %>
    </td>
    <td>
      <% if can? :manage, @song %>
      <%= link_to 'Delete Song', song, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />

