<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @song.genre %>
</p>

<p>Artist: </p>
<%= @song.user.name %><br>

<audio controls>
  <source src="<%=@song.file %>" type="audio/mpeg">
  <source src="<%=@song.file %>" type="audio/ogg">
  <embed height="50" width="100" src="<%=@song.file %>">
</audio>

<p>Comment</p>
<%= link_to 'New Comment', new_comment_path(song_id: @song.id) %>



<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
