<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @song.name %>
</p>

<p>
  <b>Genre:</b>
  <%= @song.genre %>
</p>

<p>
  <b>Artist:</b>
  <%= @song.user.name %>
</p>
<br>

<div class= 'musicplayer'>
<audio controls>
  <source src="<%=@song.file %>" type="audio/mpeg">
  <source src="<%=@song.file %>" type="audio/ogg">
  <embed height="50" width="100" src="<%=@song.file %>">
</audio>
</div>


<% if current_user %>
<%= form_for @comment do |f| %>
  <%= f.hidden_field :song_id %>

   <!-- jonny will go over why i dont need this later -->
  <%= f.hidden_field :user_id %> 

  <%= f.text_field :comment %>
  <br>
  <%= f.submit "Submit" %>
<% end %>
<% end %>

<% @song.comments.each do |comment| %>
  <tr>
    <td><%= comment.comment %></td>
    <td>NAME: <%= comment.user.name %></td>

    
    <% if can? :manage, comment %>
      <td>
        <%= link_to 'Edit', edit_comment_path(comment) %>
      </td>
      <td>
        <%= link_to 'Delete comment', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      <% end %>
      <br>
      <td>
        <%= link_to 'Flag Comment', flag_comment_path(comment), data: { confirm: 'Flag comment as innapropriate ' } unless comment.flag %>
      </td>
      <br>
    
  </tr>
  <br>
<% end %>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
