<!DOCTYPE html>
<html>
<head>
  <title>BeatboxApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, message| %>
     <div class="flash-message flash-message-<%= name %>">
      <%= message %>
     </div>
    <% end %>

  <nav>
    <%= link_to 'Users', users_path %>
    <%= link_to 'Songs', songs_path %>
  </nav>
<%= yield %>

</body>
</html>
